* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins Light";
  color: #333;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #f7f7f2;
}
#nav-part-1 {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}
#nav-part-1 h5 {
  display: none;
}
#nav-logo {
  display: flex;
  gap: 0.4px;
}
.circle-logo {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
}
#nav-part1-content {
  display: flex;
  gap: 30px;
}
#nav-part-2 {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  gap: 60px;
  font-size: 15px;
}
#hero-section {
  width: 100%;
  height: calc(100% - 120px);
}
#text-content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#text-content::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
}
#text-content::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: 20px;
}
.elem {
  flex-shrink: 0;
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  position: relative;
  font-family: "Poppins Extralight";
}
.text-header {
  position: absolute;
  display: flex;
  top: 18%;
  left: 16%;
  gap: 15vw;
  font-size: 26px;
}
#img-content {
  height: 50%;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
#img-content::-webkit-scrollbar {
  display: none;
}
#img-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
#img-1 {
  object-position: center 40%;
}
#img-2 {
  object-position: center 25%;
}
#img-3 {
  object-position: center 35%;
}


@media (max-width: 600px) {
  #nav-part-1 {
    padding: 0px 25px;
  }
  #nav-part-1 h4 {
    display: none;
  }
  #nav-part-1 h4:nth-child(1) {
    display: initial;
  }
  #nav-part-1 h5 {
    display: flex;
    align-items: center;
  }
  #nav-part-1 h5 i {
    font-size: 16px;
  }
  .circle-logo {
    width: 16px;
    height: 16px;
  }
  #nav-part-2 {
    height: 50px;
    padding: 0px 25px;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
  }
  #hero-section {
    height: calc(100% - 110px);
  }
  #text-content {
    height: 40%;
  }
  .elem {
    width: 80%;
    font-size: 6.5vw;
  }
  .text-header {
    top: 22%;
    left: 4%;
    gap: 20vw;
  }
  #img-content {
    height: 60%;
  }
}
